.img-logo{
    height: 30px;
}

/* .dropdown-menu-blue {
    background-color: #0b2e4e;
    color: #fff;
} */

.dropdown-menu-blue .dropdown-item {
    color: #fff;
}

.dropdown-menu-blue .dropdown-item:hover,
.dropdown-menu-blue .dropdown-item:focus {
    background-color: #0b2e4e;
    color: #fff;
}