@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    overflow-x: hidden;
}

.btn-purple{
    color: #fff;
    background-color: #061727;
    border-color: #061727;
}

.btn-purple:hover{
    color: #fff;
    background-color: #0b2e4e;
    border-color: #0b2e4e;
}

.btn-purple:focus, .btn-purple:active{
    color: #fff;
    background-color: #0b2e4e;
    border-color: #0b2e4e;
    /* box-shadow: 0 0 0 0.25rem #09243d; */
}

.btn-purple:disabled, .btn-purple.disabled{
    color: #fff;
    background-color: #0b2e4e;
    border-color: #0b2e4e;
    opacity: 0.65;
}

a {
    color: #0C3355;
    text-decoration: none;
}

a:hover {
    color: #061727;
    text-decoration: none;
}


.bg-blue{
    background-color: #25659c;
}

.m-container{
    margin-top: 80px;
}

.modal-header{
    background-color: #25659c;
    color: #fff;
}

.btn-close-color{
    color: #fff;
}